
body{
    background-color: #3b3b38;

}
#Foto{
    width: 25%;
    height: 25%;
    display: block;
    padding: 3%;
    margin-left: 350px;
    float: left;
    filter: drop-shadow(10px 5px 39px #000);
}
li.Bot{
    margin: 0 auto;
    display: inline-flex;
    list-style: none;
    padding: 15px;
    }

a.boton, span.boton{
    position: relative;
    z-index: 1;
}
a.boton, i.boton{
    position: absolute;
    inset: 0;
    display: block;
}

header.ini{
    margin: 0;
    text-align: center;
    font-size: 70px;
    font-family:'Courier New', Courier, monospace;
    text-shadow: 4px 4px 6px rgba(0,0,0,0.6);
    color: black;
}

h1{
    font-size:30px;
    justify-content: center;
    text-align: center;
    width: 100%;
}
ul.Aca{
    font-size: 20px;
}
aside{
    display: block;
}
ul.Ini{
    float:left;
    padding: 3%;
    margin-top: 50px;
    margin-bottom: 50px;
}
li.Ini{
    margin-bottom:100px;
    padding: -50px;
    font-size: 30px;
}


li.dato{
    font-size: 30px;
    margin-left: 200px;
    display: flex;
    margin: 0;
}
h1.datos{
    font-size: 40px;
    display: flex;
    margin-top: 10px;
    margin-bottom: -5px;
}
li.nom{
    margin-left:100px;
    margin-bottom: 50px;
    font-size: 30px;
}
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
     }
.brand-title{
    font-size: 1.5rem;
    margin: .5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
.navbar-links{
    height: 100%;
}

.navbar-links, ul.nav{
    margin:0;
    padding: 0;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar-links, li.nav{
    list-style: none;

}
.navbar-links, li.nav, a.nav{
    text-decoration: none;
    color: white;
    padding: 1rem;
    display:block;
}
li.nav:hover{
    background-color: #555;
}
a.boton{
    display: flex;
    padding: 20px;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    text-shadow: 1px 0px rgba(black,.4);
    color:rgb(197, 183, 183);
    letter-spacing: .1em;
    text-decoration: none;
    transition: color 200ms;
    transform-style: preserve-3d;
}
a.boton:hover{
    background: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr)
}
a.boton::before
{
    content:"";
    position: absolute;
    inset: 2px;
    background: #27282c;

}
a span{
    position: relative;
    z-index: 1;
}
a i{
    position: absolute;
    inset: 0;
    display: block;
}   
.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content:space-between;
    width:30px;
    height: 21px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
li.Bot{
    display: block;
    margin-right: 15px;
    list-style: none;
    color: white;
    text-decoration: none;
}
#navBoton{
    color: white;

}
#navBoton:hover{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: #28242c;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
#navBoton:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #a9a9a9;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
#navBoton:hover::before, #navBoton:focus, #navBoton:active:before{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
#imagenes{
    max-width: 1700px!important;
    max-height: 1000px!important;
}

#Que{
    color: white;
    padding: 20px;
    text-shadow: 4px 4px 7px rgba(0,0,0,1);
}
#Lugar{
    color: white;
    text-shadow: 4px 4px 7px rgba(0,0,0,1);
}
#carouselExampleCaptions{
    margin-left: 60px;
}
#carousel-control-prev, #carousel-control-prev-icon{
    margin-left:100px!important;
}
#Donde{
    font-size: 30px;
}
#Cuanto{
    font-size: 20px;
}
.principal{
    width: 100%;
    background-color: #212529;
}
.principal .g-1{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.principal .g-1 .box figure{
    width: 100%;
    height: 100%;
    display: fixed;
    justify-content: center;
    align-items: bottom;
}
.principal .g-1 .box figure img{
    width: 250px;
}
.principal .g-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.principal .g-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.principal .g-1 .redes a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #212529;
    text-align: center;
    
}
.principal .g-1 .redes a:hover{
    color: aqua;
}

.g-1{
    min-height: 100%;
    position: relative;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 338px;

}

@media screen and (max-width:800px){
    .principal .g-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
    #Lugar{
        font-size: 20px;
    }
    #Que{
        font-size: 15px;
    }

}
